<div class="login">
  <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm)">
<p>
  <label for="username">Nombre de Usuario</label>
  <input type="text"  name="username" [(ngModel)]="login.username" required /><br>
</p>
  
<p>
  <label for="password">Contraseña</label>
  <input type="password" name="password" [(ngModel)]="login.password"><br>
</p>
 
  <input type="submit" value="logear">
  
</form>

</div>

<div class="red">
  <h3>login con redes sociales</h3>
<div>
  <button (click)="loginFirebase()">Facebook</button>
  <button>Google</button>
  <button>Twitter</button>
</div>

</div>




